/*Estilização da página inicial da aplicação*/

@import url('https://fonts.googleapis.com/css2?family=Public+Sans:wght@300;400;500;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}
body{
    background-color: #f3f2f2;
    font-family: 'Public Sans', sans-serif;
}
.view-index{
    width: 100%;
    height: 100vh;
}

/*section apresentation*/

.apresentation{
    width: 100%;
    height: 100%;
    background-image: url("/assets/img/project/networkImage.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding: 20px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}
.apresentation > .header-container{
    position: fixed;
    top: 0.5;
    left: 10%;
    width: 80%;
    background-color: white;
    z-index: 1000;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    border-radius: 15px;
}
.apresentation > .header-container > .header{
    width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 10px;
    border-radius: 15px;
}
.apresentation > .header-container > .header > #logo-image{
    width: 15%;
    margin-right: 5%;
}
.apresentation > .header-container > .header > .menu-nav{
    width: 70%;
    height: 100%;
}
.apresentation > .header-container > .header > .menu-nav > .menu-nav-list{
    width: 100%;
    display: flex;
    gap: 12%;
    list-style-type: none;
}
.apresentation > .header-container > .header > .menu-nav > .menu-nav-list > .menu-nav-option > .link-menu{
    color: #9e9c9c;
    text-decoration: none;
    font-size: 18px;
}
.apresentation > .header-container > .header > .theme-and-contact{
    width: 12%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.apresentation > .header-container > .header > .theme-and-contact > .contact-link-area{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 95px;
    height: 30px;
    background-color: #04b0d3;
    gap: 10px;
    padding: 5px;
    border-radius: 5px;
    transition: background-color 0.5s ease-in-out;
}
.apresentation > .header-container > .header > .theme-and-contact > .contact-link-area:hover{
    background-color: #038eaa;
}
.apresentation > .header-container > .header > .theme-and-contact > .contact-link-area > .contact-link{
    text-decoration: none;
    color: white;
}
.apresentation > .header-container > .header > .theme-and-contact > .contact-link-area > .custom-opacity{
    color: white;
}

/*initial informations*/

.apresentation > .apresentation-informations{
    width: 80%;
    height: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    margin-top: 5%;
}
.apresentation > .apresentation-informations > .text-informations{
    width: 50%;
    height: 70%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 8%;
}
.apresentation > .apresentation-informations > .text-informations >  .container-headers > .header-01, .header-02, .header-03{
    margin-bottom: 25px;
    color: white;
}
.apresentation > .apresentation-informations > .text-informations >  .container-headers > .header-01{
    font-size: 26px;
}
.apresentation > .apresentation-informations > .text-informations >  .container-headers > .header-02{
    font-size: 30px;
}
.apresentation > .apresentation-informations > .text-informations >  .container-headers > .header-03{
    font-size: 18px;
}
.apresentation > .apresentation-informations > .text-informations > .container-list-and-contact{
    width: 50%;
    height: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color: white;
}
.apresentation > .apresentation-informations > .text-informations > .container-list-and-contact > .apresentation-text-list{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.apresentation > .apresentation-informations > .text-informations > .container-list-and-contact > .apresentation-text-list > .apresentation-text-option{
    list-style-type: none;
    font-size: 22px;
    margin-bottom: 5%;
    font-weight: 500;
}
.apresentation > .apresentation-informations > .text-informations > .container-list-and-contact > .apresentation-text-link{
    width: 150px;
    height: 60px;
    background-color: #04b0d3;
    padding: 5px;
    border-radius: 5px;
    transition: background-color 0.5s ease-in-out;
    text-decoration: none;
    color: white;
    font-size: 18px;
    margin-top: 30px;
    align-content: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.apresentation > .apresentation-informations > .text-informations > .container-list-and-contact > .apresentation-text-link:hover{
    background-color: #038eaa;
}
.apresentation > .apresentation-informations > .apresentation-image-container{
    width: 50%;
}
.apresentation > .apresentation-informations > .apresentation-image-container > #apresentation-image{
    width: 100%;
    margin-top: 8%;
}

/*Section services*/

.service{
    width: 100%;
    margin: 0 auto;
}
.service > .service-title{
    font-size: 52px;
    text-align: center;
    margin: 100px;
    color: #575757;
    font-weight: 300;
}
.service > .container-cards-service{
    width: 80%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(4, 300px);
    gap: 25px;
}
.service > .container-cards-service > .card-of-service{
    min-width: 300px;
    min-height: 500px;
    box-shadow: 2px 4px 6px 0px rgba(0, 0, 0, 0.4);
    border-radius: 15px;
}
.service > .container-cards-service > .card{
    padding: 10px;
}
.service > .container-cards-service > .card > .card-image > img{
    width: 100%;
    height: 250px;
    border-radius: 15px;
}
.service > .container-cards-service > .card > .card-header > h5 {
    font-size: 26px;
    margin: 10px;
    color: #353535;
    font-weight: 200;
}
.service > .container-cards-service > .card > .card-body > p{
    font-size: 18px;
    text-align: left;
    margin: 10px;
    color: #575757;
}

/*Mission section*/

.mission{
    width: 80%;
    height: 80vh;
    margin: 0 auto;
    display: flex;
    margin-top: 200px;
}
.mission > .mission-container-image, .mission-container-text{
    width: 50%;
}
.mission > .mission-container-image > img{
    width: 100%;
    height: 100%;
    border-radius: 20px;
    box-shadow: 2px 4px 6px 0px rgba(0, 0, 0, 0.2);
}
.mission > .mission-container-text{
    display: flex;
    flex-direction: column;
    align-items: end;
    justify-content: start
}
.mission > .mission-container-text > .mission-text-header{
    font-size: 60px;
    margin-bottom: 80px;
    color: #353535;
}
.mission > .mission-container-text > .mission-text-informations > .text-informations{
    font-size: 26px;
    max-width: 500px;
    text-align: justify;
    line-height: 35px;
    font-weight: 300;
}
.mission > .mission-container-text > .container-financcee-button{
    margin-top  : 50px;
    width: 60%;
    display: flex;
    justify-content: center;
}
.mission > .mission-container-text > .container-financcee-button > .finance-simulator{
    width: 100%;
    font-size: 28px;
    padding: 20px;
    border-radius: 50px;
    border: none;
    background-color: #04cdf5;
    color: white;
    cursor: pointer;
    transition: background-color 0.5s ease-in-out;
}
.mission > .mission-container-text > .container-financcee-button > .finance-simulator:hover{
    background-color: #04b0d3;
}

/*section contact*/

.contact{
    width: 100%;
    height: 50vh;
    display: flex;
    margin-top: 100px;
    background-color: #021f2b;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}
.contact > .location-contact-container, .social-content{
    width: 50%;
    margin-top: 20px;
}
.contact > .location-contact-container{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}
.contact > .location-contact-container > .logo-and-name{
    display: flex;
    width: 40%;
    justify-content: start;
    align-items: center;
    margin-bottom: 20px;
}
.contact > .location-contact-container > .logo-and-name > img{
    width: 10%;
}
.contact > .location-contact-container > .location, .contact-box{
    width: 40%;
    height: 50%;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: space-evenly;
}
.contact > .location-contact-container > .location > .location-title, .location-informations{
    color: aliceblue;
}
.contact > .location-contact-container > .contact-box > .contact-box-title, .contact-box-informations{
    color: aliceblue;
}
.contact > .location-contact-container > .contact-box > #last-contact{
    margin-bottom: 10%;
}
.contact > .social-content{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.contact > .social-content > .social-content-buton{
    height: 45%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

/*footer*/

.footer-page{
    width: 100%;
    min-height: 30px;
    background-color: #010f14 ;
    text-align: center;
    color: white;
    padding: 10px;
}