/*Estilização da página inicial da aplicação*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.view-index{
    width: 100%;
    height: 90vh;
}

/*section apresentation*/

.apresentation{
    width: 100%;
    height: 100%;
    background: linear-gradient(90deg, #01455f, #0ed4ee);
    padding: 20px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}
.apresentation > .header-container > .header{
    width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: white;
    padding: 10px;
    border-radius: 15px;
}
.apresentation > .header-container > .header > #logo-image{
    width: 10%;
    margin-right: 5%;
}
.apresentation > .header-container > .header > .menu-nav{
    width: 70%;
    height: 100%;
}
.apresentation > .header-container > .header > .menu-nav > .menu-nav-list{
    width: 100%;
    display: flex;
    gap: 12%;
    list-style-type: none;
}
.apresentation > .header-container > .header > .menu-nav > .menu-nav-list > .menu-nav-option > .link-menu{
    color: #9e9c9c;
    text-decoration: none;
    font-size: 18px;
}
.apresentation > .header-container > .header > .theme-and-contact{
    width: 12%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.apresentation > .header-container > .header > .theme-and-contact > .theme-button{
    width: 15%;
    border: none;
    background-color: inherit;
    display: flex;
    cursor: pointer;
}
.apresentation > .header-container > .header > .theme-and-contact > .theme-button > .custom-size{
    font-size: 1.5rem;
}
.apresentation > .header-container > .header > .theme-and-contact > .contact-link-area{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 95px;
    height: 30px;
    background-color: #04b0d3;
    gap: 10px;
    padding: 5px;
    border-radius: 5px;
    transition: background-color 0.5s ease-in-out;
}
.apresentation > .header-container > .header > .theme-and-contact > .contact-link-area:hover{
    background-color: #038eaa;
}
.apresentation > .header-container > .header > .theme-and-contact > .contact-link-area > .contact-link{
    text-decoration: none;
    color: white;
}
.apresentation > .header-container > .header > .theme-and-contact > .contact-link-area > .custom-opacity{
    color: white;
}

/*initial informations*/

.apresentation > .apresentation-informations{
    width: 80%;
    height: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}
.apresentation > .apresentation-informations > .text-informations{
    width: 50%;
    height: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 8%;
}
.apresentation > .apresentation-informations > .text-informations >  .container-headers > .header-01, .header-02, .header-03{
    margin-bottom: 20px;
    color: white;
}
.apresentation > .apresentation-informations > .text-informations >  .container-headers > .header-01{
    font-size: 50px;
}
.apresentation > .apresentation-informations > .text-informations >  .container-headers > .header-02{
    font-size: 25px;
}
.apresentation > .apresentation-informations > .text-informations > .container-list-and-contact{
    width: 50%;
    height: 80%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color: white;
}
.apresentation > .apresentation-informations > .text-informations > .container-list-and-contact > .apresentation-text-list{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.apresentation > .apresentation-informations > .text-informations > .container-list-and-contact > .apresentation-text-list > .apresentation-text-option{
    list-style-type: none;
    font-size: 20px;
    margin-bottom: 5%;
}
.apresentation > .apresentation-informations > .text-informations > .container-list-and-contact > .apresentation-text-link{
    width: 110px;
    height: 30px;
    background-color: #04b0d3;
    padding: 5px;
    border-radius: 5px;
    transition: background-color 0.5s ease-in-out;
    text-decoration: none;
    color: white;
    font-size: 18px;
    margin-top: 30px;
}
.apresentation > .apresentation-informations > .apresentation-image-container{
    width: 50%;
}
.apresentation > .apresentation-informations > .apresentation-image-container > #apresentation-image{
    width: 100%;
    margin-top: 8%;
}

/*Section services*/

.service{
    width: 80%;
    margin: 0 auto;
}
.service > .service-title{
    font-size: 48px;
    text-align: center;
    margin: 100px;
}
.service > .container-cards-service{
    width: 100%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(4, 350px);
    gap: 25px;
}
.service > .container-cards-service > .card-of-service{
    width: 350px;
    height: 450px;
    box-shadow: 2px 4px 6px 0px rgba(0, 0, 0, 0.2);
    border-radius: 15px;
}
.service > .container-cards-service > .card > .card-image > img{
    width: 100%;
    height: 250px;
    border-radius: 15px;
}

/*Mission section*/

.mission{
    width: 80%;
    height: 80vh;
    margin: 0 auto;
    display: flex;
    margin-top: 100px;
}
.mission > .mission-container-image, .mission-container-text{
    width: 50%;
}
.mission > .mission-container-image > img{
    width: 100%;
    height: 100%;
    border-radius: 20px;
    box-shadow: 2px 4px 6px 0px rgba(0, 0, 0, 0.2);
}
.mission > .mission-container-text{
    display: flex;
    flex-direction: column;
    align-items: end;
    justify-content: start
}
.mission > .mission-container-text > .mission-text-header{
    font-size: 60px;
    margin-bottom: 80px;
}
.mission > .mission-container-text > .mission-text-informations > .text-informations{
    font-size: 26px;
    max-width: 500px;
    text-align: justify;
    line-height: 35px;
}

/*section contact*/

.contact{
    width: 100%;
    height: 50vh;
    display: flex;
    margin-top: 100px;
    background-color: #01455f;
    border-radius: 15px;
}
.contact > .location-contact-container, .social-content{
    width: 50%;
    margin-top: 20px;
}
.contact > .location-contact-container{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}
.contact > .location-contact-container > .logo-and-name{
    display: flex;
    width: 50%;
    justify-content: space-evenly;
    align-items: center;
    margin-bottom: 20px;
}
.contact > .location-contact-container > .logo-and-name > img{
    width: 30%;
}
.contact > .location-contact-container > .location, .contact-box{
    width: 40%;
    height: 50%;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: space-evenly;
}
.contact > .location-contact-container > .location > .location-title, .location-informations{
    color: aliceblue;
}
.contact > .location-contact-container > .contact-box > .contact-box-title, .contact-box-informations{
    color: aliceblue;
}
.contact > .location-contact-container > .contact-box > #last-contact{
    margin-bottom: 10%;
}
.contact > .social-content{
    display: flex;
    flex-direction: column;
    align-items: center;
}