.container-initial-informations{
    width: 100%;
}
.container-initial-informations > .initial-informations-title-and-subtitle{
    width: 40%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.container-initial-informations > .header-container{
    width: 100%;
    display: flex;
}
.container-initial-informations > .header-container > .name-and-photo-user{
    width: 20%;
    min-height: 50px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}